{% extends 'base_generic.html'%}

{% block content %}

<h1>{{member.first_name}} {{member.last_name}} Profile</h1>
<h4>@{{member.user.username}}</h4>
<h4>Email {{member.email}}</h4>
<ul>
    {% if request.user == member.user%}
    <li><p><a href="{% url 'member-edit' member.id%}">Edit</a></p></li>
    
    <li><p><a href="{% url 'member-delete' member.id %}">Delete</a></p></li>
    {% endif %}
</ul>
<br> <hr>
<ul>

    {% if borrowed_books and request.user == member.user %}
        {% for borrowed_book in borrowed_books %}
            {% if borrowed_book.is_overdue %}
            <h2>Borrowed Books:</h2>
            <li>
                <p>{{borrowed_book.book.title}} <strong class="text-danger">{{ borrowed_book.due_back}}</strong></p>
            </li>
            {%else%}
            <li>
                <p>{{borrowed_book.book.title}} <strong class="text-success">{{ borrowed_book.due_back}}</strong></p>
            </li>
            {%endif%}
        {% endfor%}
    {% endif %}
</ul>


{% endblock %}